apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service-deployment
spec:
  replicas: 2
  
  selector:
    matchLabels:
      app: task-service
      
  template:
    metadata:
      labels:
        app: task-service
    spec:
      containers:
        - name: task-service
          image: my-task-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
